*.png
*.pyc
~$*
.ipynb_checkpoints/
.vscode/*
.vscode/settings.json
/data/ae/*
plots/curtain_validation/good_blc_examples.zip
.~lock.*
*.cdf
de421.bsp
deltat.data
deltat.preds
Leap_Second.dat
env/
movies/*
*.gif
.DS_Store
stats/dirs.py
